<div class="center jumbotron">
  <h2>Matahari Market Development Program 2.0 (づ｡◕‿‿◕｡)づ</h2>
  <br>
<p>
membantu para user dari divisi marketing dalam menentukan metode peramalan permintaan terbaik.
<p>
  <%= link_to "Mulai!", new_mataharinya_path, class: "btn btn-lg btn-primary" %>
</div>
