<h1>METODE PROYEKSI TREN</h1>
<h3>-Metode peramalan permintaan terpilih: Metode Proyeksi Tren-</h3>
<p>
Metode ini, merupakan bagian dari metode statistik (kuantitatif) time series.
Metode proyeksi tren dengan regresi, merupakan metode yang dignakan baik untuk
jangka pendek maupun jangka panjang. Metode proyeksi trend ini merupakan metode
yang paling sederhana dibanding dengan metode lainnya. Karena di dalam metode
ini hanya menarik secara garis lurus sesuai dengan kecenderungan data time series yang ada.
Jika data time series yang dijadikan pijakan dalam menarik garis lurus ini ada
kecenderungan meningkat, maka garis lurus yang ditarik cenderung naik sesuai
dengan kecenderungan peningkatan yang terjadi atau akan terjadi. Jika sebaliknya
maka cenderung juga sebaliknya dalam menarik garis lurus yang akan ditarik.
Tergantung dari kecenderungan atau trend yang akan diikuti naik atau turunnya.
</p>
<p>
  Contoh:

Pedoman rumus yang dipakai dalam menarik garis lurus ini adalah formula berikut ini:
St = So + bt
Dimana St merupakan nilai variabel yang akan diramal pada periode t. So adalah
merupakan nilai estimasi dari time series (nilai konstanta dari fungsi forecast)
pada tahun dasar. Dan b merupakan koefisien kecenderungan kemiringan garis
ramalan yang akan ditarik, atau angka absolut pertumbuhan atau penurunan per
periode. Dan t merupakan lama waktu dimana time series dalam periode yang
diramalkan. Sebagai ilustrasi dapat dicontohkan data kwartalan sebagai berikut:
