<h1>METODE SIMULASI PASAR</h1>
<h3>
-Metode peramalan permintaan terpilih: Metode Simulasi Pasar-
<h3>
  <p>
Metode ini, merupakan bagian dari metode non statistik (kualitatif). Secara umum, simulasi dapat diartikan sebagaisebuah teknik menirukan atau memperagakan kegiatan berbagai macam proses atau fasilitas yang ada di dunia nyata. Metode ini dilakukan dengan membuat suatu pasar simulasi (buatan) dan mengamati perilaku dari pembeli yang dipilih, cara ini disebut juga klinik konsumen denganmemberi imbalan kepada partisipan dalam simulasi. Metode ini biayanya sangat mahalkarena adanya biaya untuk partisipan, pada cara ini ada kemungkinan terjadinya bias yangdisebabkan karena factor kebiasaan konsumen ketika membelanjakan uang sendiri biasberbeda dengan perilaku sewaktu membelanjakan uang bukan milik sendiri. Langkah-langkah yang perlu dilakukan untuk melaksanakan suatu simulasi pasar, antara lain :
1) Definisikan permasalahan atau simulasi pasar yang akan dibuat
2) Identifikasi variabel-variabel yang berhubungan dengan simulasi pasar, seperti  harga barang, jumlah produk
3) Kembangkan model secara numeris sesuai dengan simulasi pasar yang dilakukan
4) Ujilah model dan bandingkan tingkah lakunya dari sistem nyata
5) Jalankan percobaan (eksperimen)
6) Pertimbangkan hasil yang diperoleh sebagai kemungkinan keputusan untuk   memodifikasi model atau mempertimbangkan mengubah masukan data
7) Putuskan tindakan mana yang diambil

Kelebihan/Keunggulan Simulasi pasar:
a) Pada simulasi pasar, peneliti dapat mengamati perilaku dari pembeli yang dipilih.
b) Memudahkan mengontrollebih banyak kondisi dari suatu percobaansehinggamemungkinkan untuk dicoba diterapkan secara nyata.

Kekurangan/Kelemahan Simulasi pasar:
a) Biayanya sangat mahal karena adanya biaya untuk partisipan, kemungkian terjadinya bias yang disebabkan karena faktor kebiasaan konsumen ketika membelanjakan uang sendiri bias berbeda dengan perilaku sewaktu membelanjakan uang bukan milik sendiri
<p>
