<h1>METODE GRAFIK</h1>
<hr>
<h3>
-Metode peramalan permintaan terpilih: Metode Grafik-
</h3>
<p>
Metode ini, merupakan bagian dari metode statistik (kuantitatif) <em>time series</em>.
Metode grafik hanya bisa digunakan untuk menyelesaikan permasalahan dimana hanya
terdapat dua variabel keputusan. Untuk menyelesaikan permasalahan tersebut,
langkah pertama yang harus dilakukan adalah memformulasikan permasalahan yang
ada ke dalam bentuk Linear Programming (LP). Dengan metode ini kita dapat
mengidentifikasi pola-pola tertentu pada suatu data.
</p>
<img class="center-block" src="http://i.imgur.com/AYULTPG.jpg"/>
