<h2>METODE REGRESI LINIER</h2>
<hr>
<h3>
-Metode peramalan permintaan terpilih: Metode Regresi Linier-
</h3>
<p>
Metode ini, merupakan bagian dari metode statistik (kuantitatif).
Model analisis Regresi Linier adalah suatu metode populer untuk berbagai macam
permasalahan. Dimana terdapat dua variabel yang digunakan yakni variabel <math><mi mathvariant="normal">x</mi></math>
(variabel bebas) dan variabel <math><mi mathvariant="normal">y</mi></math> (variabel terikat). Pada hubungan ini hanya ada
satu variabel yang dianggap bebas atau berpengaruh pada terjadinya variabel yang
lain atau variabel yang terikat.
Persamaannya adalah sebagai berikut ;

</p

<p>
  <math><mi mathvariant="normal">Y</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mo>&#xA0;</mo><mi mathvariant="normal">A</mi><mo>&#xA0;</mo><mo>&#xA0;</mo><mo>+</mo><mo>&#xA0;</mo><mo>&#xA0;</mo><mi>BX</mi></math>
</p>

<p>
Dimana: <br>
<math><mi mathvariant="normal">X</mi><mo>	</mo><mo>=</mo></math>   variabel bebas <br>
<math><mi mathvariant="normal">Y</mi><mo>	</mo><mo>=</mo></math>   variabel terikat <br>
<math><mi mathvariant="normal">A</mi><mo>	</mo><mo>=</mo></math>   bilangan konstan <br>
<math><mi mathvariant="normal">B</mi><mo>	</mo><mo>=</mo></math>   koofisien regresi <br>
<math><mi mathvariant="normal">N</mi><mo>	</mo><mo>=</mo></math>   periode <br><br>


Contoh:
Pembahasan pada metode regresi linier dilakukan dua perhitungan peramalan
penjualan produk Nevada, yaitu dengan metode regresi linier dilakukan secara
manual dan menggunakan software WinQSB. Perhitungan regresi linier secara manual
produk nevada ini dapat dilihat pada tabel berikut.
</p>

<div  class="center-block">
  <img  src="http://i.imgur.com/lO6awCo.png"/>
  <img src="http://i.imgur.com/U8DzVnz.png"/>
</div>


<br>
<p>Hasil dari perhitungan yang telah dilakukan menggunakan pembulatan ke atas.
  Pembulatan bilangan tersebut dapat bertujuan agar tidak adanya produk Nevada
  dalam bentuk koma. Perhitungan untuk regresi linier secara keseluruhan dapat
  dilihat rangkumannya pada tabel berikut:
</p>
<img class="center-block" src="http://i.imgur.com/o9uVEi3.png"/><br><br>

<p>
  <math xmlns="http://www.w3.org/1998/Math/MathML"><mi mathvariant="normal">Y</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mi mathvariant="normal">a</mi><mo>&#xA0;</mo><mo>+</mo><mo>&#xA0;</mo><mi>bX</mi><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mn>540</mn><mo>,</mo><mn>37</mn><mo>&#xA0;</mo><mo>+</mo><mo>&#xA0;</mo><mo>(</mo><mo>-</mo><mn>0</mn><mo>,</mo><mn>045</mn><mo>)</mo><mo>&#xA0;</mo><mo>*</mo><mo>&#xA0;</mo><mn>13</mn><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mn>539</mn><mo>,</mo><mn>78</mn><mo>&#xA0;</mo><mo>=</mo><mo>&#xA0;</mo><mn>540</mn></math>
  <br><br>
Dari hasil ouput persamaan diatas dapat dimpulkan bahwa peramalan produk Nevada
pada bulan ke-<math><mn>13</mn></math> sebesar <math><mn>540</mn></math>.
</p>
