<h1>METODE SURVEI LENGKAP</h1>
<hr>
<h3>-Metode peramalan permintaan terpilih: Metode Survei Lengkap-</h3>

<p>
  Metode ini, merupakan bagian dari metode non statistik (kualitatif). Survei lengkap yaitu survei yang mecakup seluruh populasi atau elemen-elemen yang menjadi objek penelitian. Setiap tahapan kegiatan yang harus dilakukan dalam melaksanakan survei lengkap perlu diikuti dengan seksama, yang meliputi:
</p>

<ol type="a">
  <li>
    Perencanaan <br>
    Tahapan ini sangat menentukan keseluruhan proses pelaksanaan suatu survei yang di dalam istilah selanjutnya disebut sebagai desainer survei. Desain survei harus dilakukan oleh desainer survei sesuai dengan disiplin ilmunya termasuk di dalamnya desain sampel. Perencanaan survei supaya dilakukan dengan baik dan matang termasuk di dalamnya penentuan jadwal kegiatan yang menjadi pegangan agar hasil survei tepat waktu. Disamping itu faktor biaya dan penyediaannya harus sudah dapat ditetapkan dalam perencanaan.Biaya sangat memegang peranan penting disamping penetapan besarnya populasi yang optimal. Materi survei secara keseluruhan supaya ditetapkan dan disinkronisasikan dengan aspek lain seperti desain sampel, penyajian, kualifikasi petugas, dan sebagainya.

  </li>
  <li>
    Persiapan
    Tahapan ini merupakan tahapan kedua, setelah aspek perencanaan siap. Pada tahap ini diperlukan persiapan lapangan seperti penyediaan daftar populasi, daftar isian dan panduannya, rekrutmen petugas sesuai dengan kualifikasi yang ditentukan dan aturan organisasi lapangan, rancangan pengawasan, dan sebagainya.
  </li>
  <li>
    Pelaksanaan lapangan
    Pelaksanaan lapangan merupakan tahapan pengumpulan informasi sesuai materi dan prosedur yang telah ditetapkan. Berbagai hal yang telah ditentukan harus diikuti, 10 perubahan sepihak tidak ditolerir karena akan menyebabkan berkurangnya tingkat akurasi data dan keterbandingan antar wilayah menjadi tidak terjamin.
  </li>
  <li>
    Pengolahan and Penyajian
    Pengolahan dilakukan sesuai prosedur yang ditetapkan dan merupakan kegiatan yang diawali dengan penerimaan dokumen dari hasil pengumpulan data.Pada tahapan kegiatan pengolahan, sebagai dasar pemeriksaan kelengkapan dokumen dengan menggunakan daftar populasi berikut identitasnya yang perlu dicocokkan dengan hasil pengumpulan data. Pemeriksaan konsistensi isian antara lain berupa <em>editing</em> dan diikuti pemberian kode serta pengecekan melalui komputer (validasi) hingga data bersih dan siap untuk tabulasi. Penyajian merupakan kegiatan akhir. Pada tahap ini sebelum data disajikan dan disebarluaskan maka terlebih dahulu diadakan pengecekan kewajaran (<em>consistency check</em>) baik konsistensi antar tabel maupun keterbandingannya dengan hasil survei sebelumnya bila ada.
  </li>
</ol>
