<h1>METODE SURVEY DELPHI</h1>
<hr>
<h3>-Metode peramalan permintaan terpilih: Metode Survei Delphi-</h3>
<p>
  Metode ini, merupakan bagian dari metode non statistik (kualitatif). Metode ini serangkaian kuesioner disebarkan kepada responden, jawabannya kemudian diringkas dan diberikan kepada para ahli untuk dibuat peramalannya. Metode memakan waktu dan melibatkan banyak pihak, yaitu para staf, yang membuat kuesioner, mengirim, merangkum hasilnya untuk dipakai para ahli dalam menganalisisnya.Keuntungan metode ini hasilnya lebih akurat dan lebih profesional sehingga hasil peramalan diharapkan mendekati aktualnya. Proses Delphi ini dilakukan dengan meminta kepada para anggota kelompok untuk memberikan serangkaian ramalan-ramalan melalui tanggapan mereka terhadapdaftar pertanyaan. Kemudian, seorang moderator mengumpulkan dan memformulasikan daftar pertanyaan baru dan dibagikan lagi kepada kelompok.
</p>
<p>
  Metoda Delphi merupakan teknik yang mempergunakan suatu prosedur yang sistematik untuk mendapatkan suatu konsensus pendapat-pendapat dari suatu kelompok ahli. Tahapan dalam melakukan metode Delphi adalah :
</p>

<ol>
  <li>Peneliti menyebarkan kuesioner kepada responden mengenai suatu produk ataupun kualitas yang di rasakan oleh <em>custumer</em> saat berbelanja di Matahari.</li>
  <li>Setelah dilakukan penyebaran kuesioner, selanjutnya peneliti mengkaji ulang kuesioner yang telah di sebar kepada responden dengan cara merangkum atau meringkas dari inti jawaban dari para responden.</li>
  <li>Setelah peneliti melakukan pengkajian ulang terhadap kuesioner yang telah di isi oleh responden, peneliti memberikan hasil ringkasan atau inti jawaban responden kepada para ahli untuk diteliti lebih mendalam mengenai hasil jawaban responden. Pihak yang terkait dalam metode Delphi seperti para staf, dan pihak ahli yang bertugas untuk menganalisis lebih mendalam hasil kuesioner.</li>
  <li>Setelah dianalisis oleh ahli, maka hasil kuesioner menjadi lebih akurat dan professional.</li>
</ol>
