<h1>METODE SURVEI OPINI</h1>
<hr>
<h3>-Metode peramalan permintaan terpilih: Metode Survei Opini-</h3>
<p>
  Metode ini, merupakan bagian dari metode non statistik (kualitatif). Survei Opini  suatu metode yang digunakan untuk mengetahui sikap dan persepsi konsumen atau pelanggan dengan cara mewawancarai konsumen secara langsung atau memberikan kuisioner yang sudah dipersiapkan. Biasanya juga disertakan nomor telepon atau alamat pada suatu produk agar konsumen bisa secara leluasa menyampaikan saran ataupun kritik.
</p>

<p>
  Contoh :
</p>

<p>
  Contoh dari survei opini adalah untuk mengetahui pendapat masyarakat atas produk yang di jual di PT. Matahari Dept Store, Tbk, dan upaya itu dilakukan lewat suatu penelitian. Seperti misalnya melakukan wawancara langsung kepada <em>customer</em> mengenai produk yang dijual, apakah sudah sesuai dengan yang diharapkan oleh cusstumer atau belum. Selain melakukan wawancara secara langsung kepada <em>customer</em>, survei opini juga bisa dilakukan dengan melakukan penyebaran kuesioner, di dalam kuesioner tersebut berbentuk pertanyaan esai mengenai bagaimana kualitas produk yang ada di PT. Matahari Dept Store, Tbk saat ini. Dengan mealakukan penyebaran kuesioner lebih menghemat waktu, hal ini dikarenakan responden dapat mengisi kuesioner secara langsung tanpa harus dipantau oleh peneliti. Sehingga di dalam waktu yang bersamaan peneliti sudah mendapatkan jawaban dari beberapa responden sekaligus.
</p>
