<h1>METODE SURVEI SAMPEL</h1>
<hr>
<h3>
-Metode peramalan permintaan terpilih: Metode Survei Sampel-
</h3>

<p>
  Metode ini, merupakan bagian dari metode non statistik (kualitatif). Survei sampel yaitu melakukan survei kepada sampel yang telah di pilih sebelumnya melalui populasi. Survei yang hanya menggunakan sebagian kecil dari populasi, atau hanya menggunakan sampel dari populasi.
</p>
<h4>Desain Survei</h4>
<p>
  Berbagai hal yang pula diperhatikan dalam mendesain suatu survei sampel adalah:
</p>

<ol type="a">
  <li>Mendefinisikan cakupan dan isi dari populasi karena akan sangat menentukan metode sampling yang dapat digunakan atau mencari estimator yang sesuai dan penyediaan kerangka sampel.</li>
  <li>Menetapkan metode observasi, termasuk tata cara pengumpulan data dan pengolahan data. Penetapan jenis variabel yang akan dikumpulkan dan konsepdefinisi yang akan digunakan merupakan hal penting yang perlu dibahas sebelum melangkah lebih lanjut.</li>
  <li>Menetapkan rencana analisis dengan menetapkan rancangan tabel yang perlu dihasilkan serta metode analisis.</li>
  <li>Memastikan kegunaan survei misalnya untuk menyajikan data MDGs pada level kecamatan dengan menyajikan berbagai indikator yang telah ditetapkan pada butir c di atas. Kegunaan dari hasil survei ini perlu dibahas secara luas oleh desainer survei, karena semakin banyak data yang dihasilkan dari suatu survei diminati oleh konsumen akan menunjukkan keberhasilan dari suatu survei.</li>
  <li>Menetapkan tingkat presisi yang dikehendaki sesuai dengan jenis variabel yangakan dikumpulkan dan memperkirakan kira-kira variabel mana yang tidak dapatdiestimasi melalui survei yang akan dilaksanakan. Kesepakatan antara desainer sampel dengan desainer survei serta konsumen data perlu diadakan sehingga berbagai pihak akan ikut bertanggung jawab terhadap hasil survei dan menyadari bahwa berbagai kesalahan akan timbul bukan saja dari sisi metode sampling tetapi juga dari sisi lain di luar metode sampling.</li>
</ol>

<p>
  Oleh karena itu setiap tahapan kegiatan yang harus dilakukan dalam melaksanakan survei sampel perlu diikuti dengan seksama, yang meliputi:
</p>

<ol type="a">
  <li>
    Perencanaan <br>
    Tahapan ini sangat menentukan keseluruhan proses pelaksanaan suatu survei yang di dalam istilah selanjutnya disebut sebagai desainer survei. Desain survei harus dilakukan oleh desainer survei sesuai dengan disiplin ilmunya termasuk di dalamnya desain sampel.Perencanaan survei supaya dilakukan dengan baik dan matang termasuk di dalamnya penentuan jadwal kegiatan yang menjadi pegangan agar hasil survei tepat waktu.Disamping itu faktor biaya dan penyediaannya harus sudah dapat ditetapkan dalam perencanaan.Biaya sangat memegang peranan penting disamping penetapan besarnya sampel yang optimal. Materi survei secara keseluruhan supaya ditetapkan dan disinkronisasikan dengan aspek lain seperti desain sampel, penyajian, kualifikasi petugas, dan sebagainya.
  </li>
  <li>
    Persiapan <br>
    Tahapan ini merupakan tahapan kedua, setelah aspek perencanaan siap.Padatahap ini diperlukan persiapan lapangan seperti penyediaan daftar sampel, daftarisian dan panduannya, rekrutmen petugas sesuai dengan kualifikasi yang ditentukandan aturan organisasi lapangan, rancangan pengawasan, dan sebagainya.
  </li>
  <li>
    Pelaksanaan Lapangan <br>
    Pelaksanaan lapangan merupakan tahapan pengumpulan informasi sesuai materidan prosedur yang telah ditetapkan. Berbagai hal yang telah ditentukan harus diikuti,10perubahan sepihak tidak ditolerir karena akan menyebabkan berkurangnya tingkatakurasi data dan keterbandingan antar wilayah menjadi tidak terjamin.
  </li>
  <li>
    Pengolahan dan Penyajian <br>
    Pengolahan dilakukan sesuai prosedur yang ditetapkan dan merupakan kegiatanyang diawali dengan penerimaan dokumen dari hasil pengumpulan data.Padatahapan kegiatan pengolahan, sebagai dasar pemeriksaan kelengkapan dokumendengan menggunakan daftar sampel berikut identitasnya yang perlu dicocokkandengan hasil pengumpulan data. Pemeriksaan konsistensi isian antara lain berupaediting dan diikuti pemberian kode serta pengecekan melalui komputer (validasi) hingga data bersih dan siap untuk tabulasi. Penyajian merupakan kegiatan akhir.Pada tahap ini sebelum data disajikan dan disebarluaskan maka terlebih dahuludiadakan pengecekan kewajaran (consistency check) baik konsistensi antar tabelmaupun keterbandingannya dengan hasil survei sebelumnya bila ada.
  </li>
</ol>
