<h1>METODE UJI PASAR</h1>
<hr>
<h3>
-Metode peramalan permintaan terpilih: Metode Uji Pasar-</h3>

<p>
  Metode ini, merupakan bagian dari metode non statistik (kualitatif). Uji coba pasar perlu dilakukan untuk mendapatkan umpan balik terhadap calon konsumen mengenai produk yang kita tawarkan.
</p>

<p>
  Contoh:
</p>

<p>
  Pada produk Newbrand di Matahari, pada awal launching matahari diberikan diskon kepada konsumen pada produk Newbrand ini. Hal ini dilakukan dengan tujuan agar <em>customer</em> membeli produk Newbrand. Dengan membelinya produk Newbrand, maka matahari dapat mengetahui respon <em>customer</em> terhadap produk tersebut.Apakah respon nya baik atau buruk, jika responnya kurang bagus, pihak Matahari bisa langsung melakukan evaluasi terhadap produk Newbrand tersebut. Namun, jika ternyata hasilnya bagus atau baik serta <em>customer</em> puas atau suka, maka Matahari akan menaikkan harga step by step sampai pada akhirnya sampai di titik harga yang pas untuk dijual namun tetap di bawah harga pasar. Newbrand dijual secara bertahap yaitu Rp 120.000,00, lalu dijual secara stabil pada harga Rp 160.000,00 karena termasuk produk baru oleh karena itu tetap dijual di bawah harga pasar agar dapat menarik minat konsumen.
</p>
